In [194]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [195]:
df=pd.read_csv("tel_churn.csv")
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [196]:
df=df.drop('Unnamed: 0',axis=1)

In [197]:
x=df.drop('Churn',axis=1)
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [198]:
y=df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

In [199]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [200]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier

In [201]:
model_rf=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [175]:
model_rf.fit(x_train,y_train)
x_train

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
257,0,114.35,5791.10,0,1,1,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4073,0,26.10,692.55,1,0,0,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
3612,0,54.25,2538.20,0,1,0,1,0,1,0,...,0,0,1,0,0,0,0,1,0,0
1832,0,20.05,20.05,0,1,1,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
940,0,65.50,4919.70,1,0,0,1,1,0,1,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6041,0,99.40,5943.65,0,1,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,1
2300,0,97.70,3410.00,0,1,0,1,0,1,0,...,1,0,0,0,0,0,1,0,0,0
455,0,104.15,2494.65,1,0,1,0,1,0,0,...,0,0,1,0,0,1,0,0,0,0
6310,1,24.95,1364.75,0,1,0,1,1,0,1,...,1,0,0,0,0,0,0,0,1,0
487,0,88.60,6201.95,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [176]:
y_pred=model_rf.predict(x_test)

In [177]:
model_rf.score(x_test,y_test)

0.8123667377398721

In [178]:
print(classification_report(y_test, y_pred, labels=[0,1]))
# Accuracy low = imbalanced dataset. Also precision recall is low for class 1 (churned)

              precision    recall  f1-score   support

           0       0.85      0.92      0.88      1080
           1       0.63      0.46      0.54       327

    accuracy                           0.81      1407
   macro avg       0.74      0.69      0.71      1407
weighted avg       0.80      0.81      0.80      1407

In [179]:
# Upscaling
sm = SMOTEENN()
X_resampled1, y_resampled1 = sm.fit_resample(x,y)

In [180]:
xr_train1,xr_test1,yr_train1,yr_test1=train_test_split(X_resampled1, y_resampled1,test_size=0.2)

In [181]:
model_rf_smote=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [182]:
model_rf_smote.fit(xr_train1,yr_train1)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [183]:
yr_predict1 = model_rf_smote.predict(xr_test1)
yr_predict1

array([1, 0, 1, ..., 0, 0, 1])

In [184]:
model_score_r1 = model_rf_smote.score(xr_test1, yr_test1)

In [185]:
print(model_score_r1)
print(metrics.classification_report(yr_test1, yr_predict1))

0.944969905417025
              precision    recall  f1-score   support

           0       0.97      0.92      0.94       566
           1       0.92      0.97      0.95       597

    accuracy                           0.94      1163
   macro avg       0.95      0.94      0.94      1163
weighted avg       0.95      0.94      0.94      1163

In [186]:
print(metrics.confusion_matrix(yr_test1, yr_predict1))

[[518  48]
 [ 16 581]]

In [187]:
# Saving Data
import pickle

In [188]:
filename = 'model.sav'

In [189]:
pickle.dump(model_rf_smote, open(filename, 'wb'))

In [190]:
load_model = pickle.load(open(filename, 'rb'))

In [191]:
model_score_r1 = load_model.score(xr_test1, yr_test1)

In [192]:
model_score_r1

0.944969905417025

In [193]:
pred = load_model.predict(xr_test1.tail(1))
probability = load_model.predict_proba(xr_test1.tail(1))[:, 1]
if pred == 1:
    print("This customer is likely to churn!!")
    print(f"Confidence: {probability*100}%")
else:
    print("This customer is likely to continue!!")
    print(f"Confidence: {probability*100}%")

This customer is likely to churn!!
Confidence: [94.61997093]%